body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
  margin: 0;
}

.logocontainer{
  background-color: 'yellow';

}
.progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d6d6d6;
  position: relative;
}

.progress-bar-fill {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00ff00;
  transform: rotate(90deg);
  transform-origin: center;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(50%);
}
